@import url(css/bootstrap.min.css);

.heading{padding:50px 0;background-color:#563d7c;}
nav {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.article article{border:1px solid #ccc;padding:20px;margin-bottom:10px;}.article article h2{border-bottom:2px solid #000;}
.sidebar  article{border:1px solid #ccc;margin-bottom:10px;}.sidebar article h5{border-bottom:2px solid #000;background:#ccc;}.sidebar article *{padding:10px;}
footer{margin-top:30px;border-top:1px solid #ccc;padding:30px 0;}
